<!DOCTYPE html>
<html>
<head>
    <title>OS Algorithm Scheduler Simulation</title>
    <link rel="stylesheet" type="text/css"
          href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <style type="text/css">
            * {
         font-family: Helvetica;
        }
        .table-responsive {
            max-width:100%;
        }

        #slider-number_of_processes {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #number_of_processes {
             width: 25px;
        }

        #slider-priority_range {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #priority_range {
             width: 25px;
        }

        #slider-burst_time_range_max {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #burst_time_range_max {
             width: 25px;
        }

        #slider-arrival_time_range_max {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #arrival_time_range_max {
             width: 25px;
        }

        #slider-max_simulation_time {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #max_simulation_time {
             width: 25px;
        }

        #slider-time_quantum {
             display: inline-block;
             margin: 0 10px;
             width: 150px;
        }

        #time_quantum {
             width: 25px;
        }

        #process_info {
             width: 100vw;
             overflow:auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }










    </style>

</head>
<body>

<div align="center" style="float:left">
    <form role="form" id="form-buscar">
        <div class="form-group">
            <div class="input-group">
                <h1>Simulation Controls</h1>
                <br>
                <label for="number_of_processes">number_of_processes</label>
                <input id="number_of_processes" class="form-control" type="text" name="number_of_processes"/>
                <div id="slider-number_of_processes"></div>
                <br>
                <label for="priority_range">priority_range</label>
                <input id="priority_range" class="form-control" type="text" name="priority_range_max"/>
                <div id="slider-priority_range"></div>
                <br>
                <label for="burst_time_range_max">burst_time_range_max</label>
                <input id="burst_time_range_max" class="form-control" type="text" name="burst_time_range_max"/>
                <div id="slider-burst_time_range_max"></div>
                <br>
                <label for="arrival_time_range_max">arrival_time_range_max</label>
                <input id="arrival_time_range_max" class="form-control" type="text" name="arrival_time_range_max"/>
                <div id="slider-arrival_time_range_max"></div>
                <br>
                <label for="time_quantum">time_quantum</label>
                <input id="time_quantum" class="form-control" type="text" name="time_quantum"/>
                <div id="slider-time_quantum"></div>

                <br>
                <button class="btn btn-success" type="submit">start simulation</button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <div class="radio ">
            <label><input type="radio" id="show_fcfs" name="optradio" checked="checked">First Come First Serve</label>
        </div>
        <div class="radio">
            <label><input type="radio" id="show_sjf" name="optradio">Shortest Job First</label>
        </div>
        <div class="radio">
            <label><input type="radio" id="show_srtf" name="optradio">Shortest Remaining Time First</label>
        </div>
        <div class="radio">
            <label><input type="radio" id="show_rr" name="optradio">Round Robin</label>
        </div>
        <div class="radio disabled">
            <label><input type="radio" id="show_ps" name="optradio">Priority Scheduling</label>
        </div>
    </div>
</div>

<div id="fcfs" align="center">
    <h1><u>First Come First Serve</u></h1>

    <h4>Waiting Time Chart &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Turnaround Time Chart</h4>
    <canvas id="fcfs_waiting_chart" width="800" height="300"></canvas>
    <canvas id="fcfs_turnaround_chart" width="800" height="300"></canvas>
    <br><br>
    <table>
        <tr>
            <th>pid</th>
            {% for p in labels %}
            <td>{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>turnaround_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['turnaround_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>finish_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['finish_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>start_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['start_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>priority</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['priority'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>arrival_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['arrival_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>burst_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['burst_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>waiting_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['waiting_time'] }}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<div id="sjf" align="center">
    <h1><u>Shortest Job First</u></h1>

    <h4>Waiting Time Chart &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Turnaround Time Chart</h4>
    <canvas id="sjf_waiting_chart" width="800" height="300"></canvas>
    <canvas id="sjf_turnaround_chart"width="800" height="300"></canvas>
    <br><br>
    <table>
        <tr>
            <th>pid</th>
            {% for p in labels %}
            <td>{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>turnaround_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['turnaround_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>finish_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['finish_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>start_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['start_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>priority</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['priority'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>arrival_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['arrival_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>burst_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['burst_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>waiting_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Job First'][p]['waiting_time'] }}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<div id="srtf" align="center">
    <h1><u>Shortest Remaining Time First</u></h1>

    <h4>Waiting Time Chart &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Turnaround Time Chart</h4>
    <canvas id="srtf_waiting_chart" width="800" height="300"></canvas>
    <canvas id="srtf_turnaround_chart" width="800" height="300"></canvas>
    <br><br>
    <table>
        <tr>
            <th>pid</th>
            {% for p in labels %}
            <td>{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>turnaround_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['turnaround_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>finish_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['finish_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>start_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['start_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>priority</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['priority'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>arrival_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['arrival_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>burst_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['burst_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>waiting_time</th>
            {% for p in labels %}
            <td>{{ results['Shortest Remaining Time First'][p]['waiting_time'] }}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<div id="rr" align="center">
    <h1><u>Round Robin</u></h1>

    <h4>Waiting Time Chart &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Turnaround Time Chart</h4>
    <canvas id="rr_waiting_chart" width="800" height="300"></canvas>
    <canvas id="rr_turnaround_chart" width="800" height="300"></canvas>
    <br><br>
    <table>
        <tr>
            <th>pid</th>
            {% for p in labels %}
            <td>{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>turnaround_time</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['turnaround_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>finish_time</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['finish_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>start_time</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['start_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>priority</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['priority'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>arrival_time</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['arrival_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>burst_time</th>
            {% for p in labels %}
            <td>{{ results['Round Robin'][p]['burst_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>waiting_time</th>
            {% for p in labels %}
            <td>{{ results['First Come First Serve'][p]['waiting_time'] }}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<div id="ps" align="center">
    <h1><u>Priority Scheduling</u></h1>

    <h4>Waiting Time Chart &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;
        &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Turnaround Time Chart</h4>
    <canvas id="ps_waiting_chart" width="800" height="300"></canvas>
    <canvas id="ps_turnaround_chart" width="800" height="300"></canvas>
    <br><br>
    <table>
        <tr>
            <th>pid</th>
            {% for p in labels %}
            <td>{{ p }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>turnaround_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['turnaround_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>finish_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['finish_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>start_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['start_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>priority</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['priority'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>arrival_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['arrival_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>burst_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['burst_time'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>waiting_time</th>
            {% for p in labels %}
            <td>{{ results['Priority Scheduling'][p]['waiting_time'] }}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<br><br>
<hr>
<h1 align="center">Results</h1>

<table align="center">
    <tr>
        <th>algorithm</th>
        <th>GANTT Chart</th>
        <th>average_waiting_time</th>
        <th>average_turnaround_time</th>
    </tr>
    <tr>
        <th>first_come_first_serve</th>
        <td>{{ results['First Come First Serve']['GANTT'] }}</td>
        <td>{{ results['First Come First Serve']['average_waiting_time'] }}</td>
        <td>{{ results['First Come First Serve']['average_turnaround_time'] }}</td>
    </tr>
    <tr>
        <th>shortest_job_first</th>
        <td>{{ results['Shortest Job First']['GANTT'] }}</td>
        <td>{{ results['Shortest Job First']['average_waiting_time'] }}</td>
        <td>{{ results['Shortest Job First']['average_turnaround_time'] }}</td>
    </tr>
    <tr>
        <th>shortest_remaining_time_first</th>
        <td>{{ results['Shortest Remaining Time First']['GANTT'] }}</td>
        <td>{{ results['Shortest Remaining Time First']['average_waiting_time'] }}</td>
        <td>{{ results['Shortest Remaining Time First']['average_turnaround_time'] }}</td>
    </tr>
    <tr>
        <th>round_robin</th>
        <td>{{ results['Round Robin']['GANTT'] }}</td>
        <td>{{ results['Round Robin']['average_waiting_time'] }}</td>
        <td>{{ results['Round Robin']['average_turnaround_time'] }}</td>
    </tr>
    <tr>
        <th>priority_scheduling</th>
        <td>{{ results['Priority Scheduling']['GANTT'] }}</td>
        <td>{{ results['Priority Scheduling']['average_waiting_time'] }}</td>
        <td>{{ results['Priority Scheduling']['average_turnaround_time'] }}</td>
    </tr>
</table>


<script type="text/javascript">
$(function() {
     $( "#slider-number_of_processes" ).slider({
          range: "min",
          min: 1,
          max: 100,
          value: 10,
          slide: function( event, ui ) {
               $( "#number_of_processes" ).val( ui.value );
          }
     });
     $("#number_of_processes").val($("#slider-number_of_processes").slider("value"));
});

$(function() {
     $( "#slider-priority_range" ).slider({
          range: "min",
          min: 1,
          max: 100,
          value: 10,
          slide: function( event, ui ) {
               $( "#priority_range" ).val( ui.value );
          }
     });
     $("#priority_range").val($("#slider-priority_range").slider("value"));
});

$(function() {
     $( "#slider-burst_time_range_max" ).slider({
          range: "min",
          min: 1,
          max: 100,
          value: 10,
          slide: function( event, ui ) {
               $( "#burst_time_range_max" ).val( ui.value );
          }
     });
     $("#burst_time_range_max").val($("#slider-burst_time_range_max").slider("value"));
});

$(function() {
     $( "#slider-arrival_time_range_max" ).slider({
          range: "min",
          min: 1,
          max: 100,
          value: 10,
          slide: function( event, ui ) {
               $( "#arrival_time_range_max" ).val( ui.value );
          }
     });
     $("#arrival_time_range_max").val($("#slider-arrival_time_range_max").slider("value"));
});

$(function() {
     $( "#slider-time_quantum" ).slider({
          range: "min",
          min: 1,
          max: 100,
          value: 3,
          slide: function( event, ui ) {
               $( "#time_quantum" ).val( ui.value );
          }
     });
     $("#time_quantum").val($("#slider-time_quantum").slider("value"));
});


// START WAITING TIME CHART JS SECTION

// bar chart data
   var barData = {
   labels : [{% for item in labels_graph_waiting %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in fcfs_values_waiting %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("fcfs_waiting_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_waiting %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in sjf_values_waiting %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("sjf_waiting_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_waiting %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in srtf_values_waiting %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("srtf_waiting_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_waiting %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in rr_values_waiting %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("rr_waiting_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_waiting %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in ps_values_waiting %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("ps_waiting_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

// END WAITING TIME CHART JS SECTION

// START TURNAROUND TIME CHART JS SECTION


// bar chart data
   var barData = {
   labels : [{% for item in labels_graph_turnaround %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in fcfs_values_turnaround %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("fcfs_turnaround_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_turnaround %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in sjf_values_turnaround %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("sjf_turnaround_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_turnaround %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in srtf_values_turnaround %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("srtf_turnaround_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_turnaround %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in rr_values_turnaround %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("rr_turnaround_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

   var barData = {
   labels : [{% for item in labels_graph_turnaround %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in ps_values_turnaround %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("ps_turnaround_chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });


// END TURNAROUND TIME CHART JS SECTION




document.getElementById("show_fcfs").addEventListener("click", showFCFS);
document.getElementById("show_sjf").addEventListener("click", showSJF);
document.getElementById("show_srtf").addEventListener("click", showSRTF);
document.getElementById("show_rr").addEventListener("click", showRR);
document.getElementById("show_ps").addEventListener("click", showPS);

function showFCFS() {
    document.getElementById("fcfs").style.display='block';
    document.getElementById("sjf").style.display='none';
    document.getElementById("srtf").style.display='none';
    document.getElementById("rr").style.display='none';
    document.getElementById("ps").style.display='none';
    }

function showSJF() {
    document.getElementById("fcfs").style.display='none';
    document.getElementById("sjf").style.display='block';
    document.getElementById("srtf").style.display='none';
    document.getElementById("rr").style.display='none';
    document.getElementById("ps").style.display='none';
    }
function showSRTF() {
    document.getElementById("fcfs").style.display='none';
    document.getElementById("sjf").style.display='none';
    document.getElementById("srtf").style.display='block';
    document.getElementById("rr").style.display='none';
    document.getElementById("ps").style.display='none';
    }
function showRR() {
    document.getElementById("fcfs").style.display='none';
    document.getElementById("sjf").style.display='none';
    document.getElementById("srtf").style.display='none';
    document.getElementById("rr").style.display='block';
    document.getElementById("ps").style.display='none';
    }
function showPS() {
    document.getElementById("fcfs").style.display='none';
    document.getElementById("sjf").style.display='none';
    document.getElementById("srtf").style.display='none';
    document.getElementById("rr").style.display='none';
    document.getElementById("ps").style.display='block';
    }

showFCFS()


















</script>
</body>
</html>